service_name = "todoapp"
project_id   = "<gcp-project-id>"
region       = "<target-gcp-region>"
zone         = "<target-gcp-zone>"

db_config = {
  is_enabled  = "true"
  db_version  = "MYSQL_8_0"
  db_tier     = "db-f1-micro"
  db_user     = "<db-user>"
  db_password = "<db-password>"
  db_name     = "todoapp"
}

frontend_config = {
  is_enabled = "true"
}

backend_config = {
  is_enabled = "true"
}
